<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pythe.mapper.TblStudentEssayRecommendationMapper" >
  <resultMap id="BaseResultMap" type="com.pythe.pojo.TblStudentEssayRecommendation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="essay_id" property="essayId" jdbcType="BIGINT" />
    <result column="derive_time" property="deriveTime" jdbcType="TIMESTAMP" />
    <result column="feedback" property="feedback" jdbcType="BIT" />
    <result column="derive_algorithm" property="deriveAlgorithm" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, student_id, essay_id, derive_time, feedback, derive_algorithm
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pythe.pojo.TblStudentEssayRecommendationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_student_essay_recommendation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_student_essay_recommendation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_student_essay_recommendation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pythe.pojo.TblStudentEssayRecommendationExample" >
    delete from tbl_student_essay_recommendation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pythe.pojo.TblStudentEssayRecommendation" >
    insert into tbl_student_essay_recommendation (id, student_id, essay_id, 
      derive_time, feedback, derive_algorithm
      )
    values (#{id,jdbcType=BIGINT}, #{studentId,jdbcType=BIGINT}, #{essayId,jdbcType=BIGINT}, 
      #{deriveTime,jdbcType=TIMESTAMP}, #{feedback,jdbcType=BIT}, #{deriveAlgorithm,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pythe.pojo.TblStudentEssayRecommendation" >
    insert into tbl_student_essay_recommendation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="essayId != null" >
        essay_id,
      </if>
      <if test="deriveTime != null" >
        derive_time,
      </if>
      <if test="feedback != null" >
        feedback,
      </if>
      <if test="deriveAlgorithm != null" >
        derive_algorithm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="essayId != null" >
        #{essayId,jdbcType=BIGINT},
      </if>
      <if test="deriveTime != null" >
        #{deriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedback != null" >
        #{feedback,jdbcType=BIT},
      </if>
      <if test="deriveAlgorithm != null" >
        #{deriveAlgorithm,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pythe.pojo.TblStudentEssayRecommendationExample" resultType="java.lang.Integer" >
    select count(*) from tbl_student_essay_recommendation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_student_essay_recommendation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=BIGINT},
      </if>
      <if test="record.essayId != null" >
        essay_id = #{record.essayId,jdbcType=BIGINT},
      </if>
      <if test="record.deriveTime != null" >
        derive_time = #{record.deriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.feedback != null" >
        feedback = #{record.feedback,jdbcType=BIT},
      </if>
      <if test="record.deriveAlgorithm != null" >
        derive_algorithm = #{record.deriveAlgorithm,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_student_essay_recommendation
    set id = #{record.id,jdbcType=BIGINT},
      student_id = #{record.studentId,jdbcType=BIGINT},
      essay_id = #{record.essayId,jdbcType=BIGINT},
      derive_time = #{record.deriveTime,jdbcType=TIMESTAMP},
      feedback = #{record.feedback,jdbcType=BIT},
      derive_algorithm = #{record.deriveAlgorithm,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pythe.pojo.TblStudentEssayRecommendation" >
    update tbl_student_essay_recommendation
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="essayId != null" >
        essay_id = #{essayId,jdbcType=BIGINT},
      </if>
      <if test="deriveTime != null" >
        derive_time = #{deriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedback != null" >
        feedback = #{feedback,jdbcType=BIT},
      </if>
      <if test="deriveAlgorithm != null" >
        derive_algorithm = #{deriveAlgorithm,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pythe.pojo.TblStudentEssayRecommendation" >
    update tbl_student_essay_recommendation
    set student_id = #{studentId,jdbcType=BIGINT},
      essay_id = #{essayId,jdbcType=BIGINT},
      derive_time = #{deriveTime,jdbcType=TIMESTAMP},
      feedback = #{feedback,jdbcType=BIT},
      derive_algorithm = #{deriveAlgorithm,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   
  <select id="queryCertainUserRecentlyRecommendations" resultMap="BaseResultMap"  >
    select 
    
    <include refid="Base_Column_List" />
    from tbl_student_essay_recommendation 
    where derive_time &gt; #{date} and student_id = #{userId}
  </select>
  
  
</mapper>