<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pythe.mapper.TblStudentEssayPreferenceMapper" >
  <resultMap id="BaseResultMap" type="com.pythe.pojo.TblStudentEssayPreference" >
    <id column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="last_log_time" property="lastLogTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pythe.pojo.TblStudentEssayPreference" extends="BaseResultMap" >
    <result column="preference" property="preference" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    student_id, last_log_time
  </sql>
  <sql id="Blob_Column_List" >
    preference
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pythe.pojo.TblStudentEssayPreferenceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_student_essay_preference
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pythe.pojo.TblStudentEssayPreferenceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_student_essay_preference
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_student_essay_preference
    where student_id = #{studentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_student_essay_preference
    where student_id = #{studentId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pythe.pojo.TblStudentEssayPreferenceExample" >
    delete from tbl_student_essay_preference
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pythe.pojo.TblStudentEssayPreference" >
    insert into tbl_student_essay_preference (student_id, last_log_time, preference
      )
    values (#{studentId,jdbcType=BIGINT}, #{lastLogTime,jdbcType=TIMESTAMP}, #{preference,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pythe.pojo.TblStudentEssayPreference" >
    insert into tbl_student_essay_preference
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="lastLogTime != null" >
        last_log_time,
      </if>
      <if test="preference != null" >
        preference,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="lastLogTime != null" >
        #{lastLogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preference != null" >
        #{preference,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pythe.pojo.TblStudentEssayPreferenceExample" resultType="java.lang.Integer" >
    select count(*) from tbl_student_essay_preference
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_student_essay_preference
    <set >
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=BIGINT},
      </if>
      <if test="record.lastLogTime != null" >
        last_log_time = #{record.lastLogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.preference != null" >
        preference = #{record.preference,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tbl_student_essay_preference
    set student_id = #{record.studentId,jdbcType=BIGINT},
      last_log_time = #{record.lastLogTime,jdbcType=TIMESTAMP},
      preference = #{record.preference,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_student_essay_preference
    set student_id = #{record.studentId,jdbcType=BIGINT},
      last_log_time = #{record.lastLogTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pythe.pojo.TblStudentEssayPreference" >
    update tbl_student_essay_preference
    <set >
      <if test="lastLogTime != null" >
        last_log_time = #{lastLogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preference != null" >
        preference = #{preference,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pythe.pojo.TblStudentEssayPreference" >
    update tbl_student_essay_preference
    set last_log_time = #{lastLogTime,jdbcType=TIMESTAMP},
      preference = #{preference,jdbcType=LONGVARCHAR}
    where student_id = #{studentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pythe.pojo.TblStudentEssayPreference" >
    update tbl_student_essay_preference
    set last_log_time = #{lastLogTime,jdbcType=TIMESTAMP}
    where student_id = #{studentId,jdbcType=BIGINT}
  </update>
</mapper>